{% extends "base_CASESTUDY.html" %}

{% block title %}Gather{% endblock title %}

{% block intro %}Gather Design System{% endblock intro %}

{% block blurb %}Crafting a design system from scratch{% endblock blurb %}

{% block overview %}
<a class="cs-link" href="http://www.gatherhere.com/" target="_blank">Gather</a> is a SaaS event management platform serving the hospitality industry by offering both CRM-like functionality for event managers, tied with a consumer-facing marketplace to help drive new business leads.
{% endblock overview %}

{% block myrole %}As Director of UX, I layed the foundation for the design system while also working hand-in-hand with the other designer on my team to grow the system.{% endblock myrole %}

  {% block hero-image %}
  <img class="spread" src="{% static 'images/gather/gather-footer.png' %}" />
  {% endblock hero-image %}

{% block the-challenge %}
Having been founded in 2013, the tech stack for the product was starting to show it's age when it came to both scale and speed of development. The decision was made to re-write the product moving from Angular to React. This presented the UX team with an opportunity to also "re-write" the interaction patterns and look &amp; feel of Gather.
</br>
</br>
Our primary UX goals were:
<ul class="case-study-list">
  <li>Refresh the UI to make the product feel more modern</li>
  <li>Improve the user experience in all major "critial path" areas throughout the product</li>
  <li>Create a scalable design system with guidlines for UI and UX patterns</li>
</ul>
{% endblock the-challenge %}

{% block the-approach %}
To begin this project I leaned heavily on my standard "Rapid Design Sprint" UX process – a hybrid approach combining elements from IDEO's Design Thinking and Google Venture's Design Sprint methodologies.
</br>
</br>
My first step was to fully understand the state of the product by performing a complete UX audit. I began with meeting with my cross-functional partners in the Product, Sales and CX departments to understand current user painpoints as seen by each department. The Gather team was already using ProductBoard to help organize feedback, so this became a primary source of Voice of the Customer for me.
</br>
</br>
Next, it was time to identify the key critical path areas in the product to use as starting points for a UX refresh. To better understand and map out the holistic product system I focused on creating three primary artifacts:
<ul class="case-study-list">
  <li>UX heuristic analysis</li>
  <li>See | Do diagram</li>
  <li>UI inventory</li>
</ul>
{% endblock the-approach %}

  {% block work-images %}

    <figure>
      <img class="double left" src="{% static 'images/gather/gather-seedo.gif' %}" />
      <img class="double right" src="{% static 'images/gather/gather-productboard.png' %}" />
    </figure>

    <figure>
      <img class="spread" src="{% static 'images/gather/gather-audit1.png' %}" />
    </figure>

    <figure>
      <img class="double left" src="{% static 'images/gather/gather-audit2.png' %}" />
      <img class="double right" src="{% static 'images/gather/gather-audit3.png' %}" />
    </figure>

  {% endblock work-images %}

{% block additional-content %}

<section class="full-width">
  <div class="wrapper">
    <div class="copy-block">
      <h3>Exploring the problem space</h3>
      <p class="body-copy">With the initial discovery and understanding out of the way, the UX team then moved on to digging deep into exploring solutions to the main user problems we uncovered.
      </br>
      </br>
      The UX team hosted multiple Rapid Design Sprints over the course of a few weeks. Each session focused on either a unique user or business problem. In order to have both the user-voice and business goals represented, we included and worked closely with various cross-functional teams. We also visited current customers on-site to observe how the Gather product fit into their day-to-day lives.
      </br>
      </br>
      With plenty of ideas to work from, the UX team then began to ideate possible improvements to the product. This phase of exploration was done via wireframes and rough prototypes.
    </div>

    <figure>
      <img class="double left" src="{% static 'images/gather/gather-sprint1.png' %}" />
      <img class="double right" src="{% static 'images/gather/gather-sprint4.png' %}" />
    </figure>

    <figure>
      <img class="double left" src="{% static 'images/gather/gather-ia1.png' %}" />
      <img class="double right" src="{% static 'images/gather/gather-sprint3.png' %}" />
    </figure>

  </div><!--End wrapper-->
</section>

<section class="full-width grey">
  <div class="wrapper">
    <div class="copy-block">
      <h3>Validating with Users</h3>
      <p class="body-copy">After the ideation phase we had a solid concept for the new direction of the product, that was based around reusable components and improved UX patterns. Since there were so many UX improvements we were tackling, a primary goal was to vet these new UX patterns and ideas with our users.
      </br>
      </br>
      In order to help ease any concerns from the business around a potentially drastic product update, we also measured qualitative metrics based on success/failure of specific user tasks and mapped these to produce 95% confidence intervals for primary user tasks. We were able to specifically point to success around both completion rate for new bookings as well as error reduction when creating a new booking in the new system.
    </div>

    <figure>
      <img class="double left" src="{% static 'images/gather/gather-uxr2.png' %}" />
      <img class="double right" src="{% static 'images/gather/gather-uxr1.png' %}" />
    </figure>

    <figure>
      <img class="spread" src="{% static 'images/gather/gather-uxr3.png' %}" />
    </figure>

  </div><!--End wrapper-->
</section>

<section class="full-width">
  <div class="wrapper">
    <div class="copy-block">
      <h3>The design</h3>
      <p class="body-copy">
      The reimagined Gather product UI leads with a modern look &amp; feel while at the same time optimizing space and improving user flows. The best example of our new design system is the Booking Details screen. This screen includes many of the improved components and interaction patterns. See below for a before and after.
      </br>
      </br>
    </div>

      <div class="twentytwenty-container">
        <img src="{% static 'images/gather/gather-UI-before.png' %}" />
        <img src="{% static 'images/gather/gather-UI-after.png' %}" />
      </div>

  </div><!--End wrapper-->
</section>

<section class="full-width grey">
  <div class="wrapper">
    <div class="copy-block">
      <h3>Building Components</h3>
      <p class="body-copy">
      Typically at this point is where you would expect to see buzz words like atoms, molecules, organisms, etc.
      </br>
      </br>
      <strong>Soapbox time:</strong> Although the ideas that Brad Frost outlined in "Atomic Design" are great, he himself says that Atomic Design is simply a mental model for approaching a design system. It's practically impossible to create a fully coherent design system when starting with atoms first. In reality what you end up with are a series of disjointed experiences that make the system harder to maintain.
      </br>
      </br>
      Instead of trying to start with atoms or molecules, we built the design system organically. We would create flows and screens holistically and then break those down into smaller reusable components (atoms), which we then documented.
    </div>

    <figure>
      <img class="double left" src="{% static 'images/gather/gather-dsm2.png' %}" />
      <img class="double right" src="{% static 'images/gather/gather-dsm3.png' %}" />
    </figure>

    <figure>
      <img class="double left" src="{% static 'images/gather/gather-dsm4.png' %}" />
      <img class="double right" src="{% static 'images/gather/gather-dsm5.png' %}" />
    </figure>

  </div><!--End wrapper-->
</section>

{% endblock additional-content %}

{% block the-solution %}
Throughout the entire process of building out the design system, the UX team worked closely with our front-end developers to ensure that this design system wasn't just a series of Sketch symbols. With every new component created and documented, there was a process in place for adding that new component to our dev team's StoryBook instance. The final design system encompassed both tactical Sketch libraries and symbols as well as usable React code.
</br>
</br>
<strong>Lessons learned:</strong> As much as we tried to document new patterns in real-time, it become more and more difficult to build in "documentation writing" into our sprint process. With a team moving quickly, documentation became an afterthought sometimes. Building in this writing time into our sprint would have helped avoid going back and writing rules retroactivley.
{% endblock the-solution %}

{% block final-image %}
<img class="spread" src="{% static 'images/gather/gather-footer.png' %}" />
{% endblock final-image %}

{% block next-project %}
<a href="/expapp" class="next-project"><strong>Next Case Study:</strong> ExpApp</a>
{% endblock next-project%}
