// _images

figure {
  margin: 40px 0px;
}

img.spread {
  width: 100%;
  height: auto;
}

img.double {
  width: 48%;
  margin: 0px auto;
}

img.headshot {
  border-radius: 1000px;
  max-width: 500px;
}

img.casestudy-cover {
  width: 100%;
}
