@import "reset";
@import "colors";
@import "typography";
@import "nav";
@import "images";

/*------------------------------
 GLOBAL STYLES
------------------------------*/
body {
	position: relative;
	padding-bottom: 120px;
}

.wrapper {
	margin: 0px auto;
	width: 75%;
	max-width: 1200px;
}

section {
	overflow: auto;
}

.full-width {
	width: 100%;
	padding: 60px 0px;
}

.grey {
	background-color: #F4F6F7;
}

.hero {
	height: 300px;
	overflow: hidden;
	position: relative;
	padding: 0px 0px;
}

.showcase {
	width: 45%;
	min-height: 300px;
	margin-top: 40px;
	overflow: auto;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	background-color: #fff;
}

.tease-block {
	padding: 20px;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	text-align: center;
}

.me {
	min-height: 75vh;
}

.case-study {
	margin-top: 120px;
	margin-bottom: 0px;
}

.intro {
	width: 50%;
	margin: 0px auto;
}

.intro-headline  {
	width: 100%;
	text-align: center;
	padding: 0px 0px 60px 0px;
}

.left, .right {
	width: 45%;
	display: inline-block;
}

.left {
	margin-right: 20px;
	float: left;
}

.right {
	margin-left: 20px;
	float: right;
}

.my-role {
	width: 25%;
}

.overview {
	width: 70%;
}

.copy-block {
	width: 50%;
	margin: 0px auto;
	margin-bottom: 40px;
}

.my-bio {
	margin-top: 10%;
}

a.next-project {
	text-align: center;
	font-size: 13px;
	padding: 18px 50px;
	color: white;
	display: block;
	margin: 0px auto;
	background-color: $uchima-green;
	width: 143px;

		&:hover {
			text-decoration: none;
			background-color: $uchima-green-hover;
		}
}

footer {
	background-color: $dark-grey;
	color: #fff;
	padding: 50px 0px;
	overflow: auto;
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

		span {
			opacity: 0.25;
		}
}

.left a:first-of-type {
	margin-left: 0px;
}
