{% extends "base.html" %}

{% block content %}

<section class="full-width hero">
  <img class="casestudy-cover" src="{% static 'images/venmo-hero.png' %}" />
  <div class="wrapper">
    <div class="tease-block">
      <h2 class="tease-title">CareerBuilder</h2>
      <h3 class="sub-title-tease">| Case study</h3>
      <p class="body-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis consequat nibh a efficitur. Suspendisse lobortis ornare purus a congue.</p>
    </div>
  </div>
</section>

<section class="full-width hero">
  <img class="casestudy-cover" src="{% static 'images/nike-hero.jpg' %}" />
  <div class="wrapper">
    <div class="tease-block">
      <h2 class="tease-title">CareerBuilder</h2>
      <h3 class="sub-title-tease">| Case study</h3>
      <p class="body-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis consequat nibh a efficitur. Suspendisse lobortis ornare purus a congue.</p>
    </div>
  </div>
</section>

<section class="full-width hero">
  <img class="casestudy-cover" src="{% static 'images/nikeSB1.jpg' %}" />
  <div class="wrapper">
    <div class="tease-block">
      <h2 class="tease-title">CareerBuilder</h2>
      <h3 class="sub-title-tease">| Case study</h3>
      <p class="body-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis consequat nibh a efficitur. Suspendisse lobortis ornare purus a congue.</p>
    </div>
  </div>
</section>

{% endblock content%}
