{% extends "base.html" %}

{% block content %}

<section class="welcome full-width space-me">
  <div class="wrapper">

    <div class="handshake">
      <h1 class="main">Hey, I'm JD</h1>
      <p class="intro-blurb home">
        A multi-disciplinary UX &amp; Design leader with more than 10 years of experience leading teams and building digital products.
      </p>

  </div>
</section>

<section id="one" class="tiles">

  <article class="useriq">
    <div class="tease-block">
      <h2 class="tease-title">UserIQ</h2>
      <p class="body-copy">Behavioral archetype research</p>
    </div>
    <a href="/personas" class="link primary"></a>
  </article>

  <article class="expapp">
    <div class="tease-block">
      <h2 class="tease-title">Experience App</h2>
      <p class="body-copy">Mobile ticketing &amp; commerce platform</p>
    </div>
    <a href="/expapp" class="link primary"></a>
  </article>

  <article class="nfhs">
    <div class="tease-block">
      <h2 class="tease-title">The NFHS Network</h2>
      <p class="body-copy">Re-imagining how fans watch high school sports</p>
    </div>
    <a href="/nfhs" class="link primary"></a>
  </article>

  <article class="eventmanager">
    <div class="tease-block">
      <h2 class="tease-title">NFHS Manager</h2>
      <p class="body-copy">Video Management & Production Console</p>
    </div>
    <a href="/eventmanager" class="link primary"></a>
  </article>


</section>

<!--End case studies-->

<section class="full-width grey">
  <div class="wrapper">
    <h2 class="dribs">Additional Projects</h2>
    <ul class="grid">
      <li class="col-3">
        <a href="/eventmanager"><img class="home-image" src="{% static 'images/showcase-nfhs.png' %}" /></a>
        <span>Video Management Console</span>
      </li>
      <li class="col-3">
        <a href="#"><img class="home-image" src="{% static 'images/showcase-sageone.png' %}" /></a>
        <span>(Available upon request)</span>
      </li>
      <li class="col-3">
        <a href="#"><img class="home-image" src="{% static 'images/showcase-expapp.png' %}" /></a>
        <span>(Available upon request)</span>
      </li>
    </ul>
  </div>
</section>

<section class="dribbble">
  <div class="wrapper">
    <h2 class="dribs">Want to see more? Checkout my Dribbble shots.</h2>
    <ul id="dribbbleShots"></ul>
  </div>
</section>

<section class="full-width">
</section>

{% endblock content%}
