{% extends "base.html" %}

{% block content %}

<section class="full-width grey">
  <div class="wrapper">

    <div class="showcase left">
      <img class="casestudy-cover" src="{% static 'images/showcase-cb.png' %}" />
      <div class="tease-block">
        <h2 class="tease-title">CareerBuilder</h2>
        <h3 class="sub-title-tease">| Casestudy</h3>
        <p class="body-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis consequat nibh a efficitur. Suspendisse lobortis ornare purus a congue.</p>
      </div>
    </div><!--end showcase-->

    <div class="showcase right">
      <img class="casestudy-cover" src="{% static 'images/showcase-cb.png' %}" />
      <div class="tease-block">
        <h2 class="tease-title">ExpApp</h2>
        <h3 class="sub-title-tease">| Casestudy</h3>
        <p class="body-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis consequat nibh a efficitur. Suspendisse lobortis ornare purus a congue.</p>
      </div>
    </div><!--end showcase-->

    <div class="showcase left">
      <img class="casestudy-cover" src="{% static 'images/showcase-cb.png' %}" />
      <div class="tease-block">
        <h2 class="tease-title">The NFHS Network</h2>
        <h3 class="sub-title-tease">| Casestudy</h3>
        <p class="body-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis consequat nibh a efficitur. Suspendisse lobortis ornare purus a congue.</p>
      </div>
    </div><!--end showcase-->

    <div class="showcase right">
      <img class="casestudy-cover" src="{% static 'images/showcase-cb.png' %}" />
      <div class="tease-block">
        <h2 class="tease-title">ExpApp</h2>
        <h3 class="sub-title-tease">| Casestudy</h3>
        <p class="body-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis consequat nibh a efficitur. Suspendisse lobortis ornare purus a congue.</p>
      </div>
    </div><!--end showcase-->

  </div><!--end wrapper-->
</section>

{% endblock content%}
