{% extends "base_CASESTUDY.html" %}

{% block title %}UserIQ{% endblock title %}

{% block intro %}UserIQ Archetype Research{% endblock intro %}

{% block blurb %}Better understanding users through behavioral archetypes{% endblock blurb %}

{% block overview %}
NFHS Network Event Manager (Event Manager) is the enterprise admin console used to manage live streams and post videos to the NFHS Network site. Event Manager is used by internal production teams, production teams at schools, third party producers, and the production support team.
{% endblock overview %}

{% block myrole %}I lead the entirety of the UX and visual design work, producing all major artifacts and deliverables.{% endblock myrole %}

  {% block hero-image %}
  <img class="spread" src="{% static 'images/hero-placeholder.png' %}" />
  {% endblock hero-image %}

{% block the-challenge %}
With the relaunch of the NFHS Network site, it was time to also bring Event Manager up to date with the revised brand. Like the original NFHS Network site, Event manager had not been significantly updated since 2008. There were very obvious UX pitfalls and visual design problems to address. Primary goals for the project were:
<ul class="case-study-list">
  <li>Bring the overall look &amp; feel in line with the primary consumer site.</li>
  <li>Improve the UX and information architecture.</li>
  <li>Ensure the solution works for the spectrum between novice and power users.</li>
</ul>
{% endblock the-challenge %}

{% block the-approach %}
We started by breaking down the good, the bad, and the ugly within the legacy console. Identifying the key UX pitfalls, primary user types, and primary user cases were our priority. We interviewd our internal customer support, production teams, and high-volume stream users to better understand their flows within the product and made note of their wish list items. We were then able to identify four primary user types/personas and break those down based on permission levels.
</br>
</br>
After identifying our users and their primary tasks, we focused on reducing the number of screens and clicks needed for taks completion. Finally we produced wireframes and prototypes to validate our approach before moving on to development.


{% endblock the-approach %}

  {% block work-images %}

    <figure>
      <img class="spread" src="{% static 'images/placeholder.png' %}" />
    </figure>

    <figure>
      <img class="double left" src="{% static 'images/placeholder.png' %}" />
      <img class="double right" src="{% static 'images/placeholder.png' %}" />
    </figure>

  {% endblock work-images %}

{% block additional-content %}
{% endblock additional-content %}

{% block the-solution %}
Our end result was a brand that was unique and embodied the energy of high school sports combined with a user experience that made it easy for users to customize their experience by easily being able to find, follow and watch their faviorite teams.
{% endblock the-solution %}

{% block final-image %}
<img class="spread" src="{% static 'images/placeholder.png' %}" />
{% endblock final-image %}

{% block next-project %}
<a href="/nfhs" class="next-project"><strong>< Previous Case Study:</strong> The NFHS Network</a>
{% endblock next-project%}
