{% extends "base_CASESTUDY.html" %}

{% block title %}UserIQ{% endblock title %}

{% block intro %}UserIQ Archetype Research{% endblock intro %}

{% block blurb %}Better understanding users through behavioral archetypes{% endblock blurb %}

{% block overview %}
An early stage start-up with a small R&ampD team, <a class="cs-link" href="http://www.useriq.com/" target="_blank">UserIQ</a> is a customer success platform offering CS/CX teams the ability to leverage analytical intelligence to understand users by allowing CS teams to create guided product tours, engagement campaigns and track user activity within a product.
{% endblock overview %}

{% block myrole %}I lead the research efforts while also teaching and mentoring the Jr. UX designer on my team about research methodologies and best practices.{% endblock myrole %}

  {% block hero-image %}
  <img class="spread" src="{% static 'images/hero-placeholder.png' %}" />
  {% endblock hero-image %}

{% block the-challenge %}
UserIQ had previously targeted two primary user bases; Customer success teams &amp Product mangers. The company decided to focus in on customer success (CS) as the primary market that the product would cater towards. With this new target market in mind, the UX team was tasked with helping the business better understand the CS user base we currently had.
</br>
</br>
Our primary research goals were:
<ul class="case-study-list">
  <li>Better understand customer success teams currently using the UserIQ product.</li>
  <li>Identify notable behaviors, preferences, barriers and technologies that CS professionals use.</li>
  <li>Identify any needs and/or opportunities to inform business strategy and product roadmap.</li>
</ul>
{% endblock the-challenge %}

{% block the-approach %}
Our general research approach was to start broad and then narrow in as we began to peel back the layers of understanding our users.
</br>
</br>
We purposefully choose to focus on understanding our users from the perspective of their behavioral usage of the product rather than the traditional persona-based approach. The key reason for this was because although traditional personas have a place in product, given the size and scale of UserIQ, focusing on user behavior made the most sense as we looked to scale the product and shape business strategy.
</br>
</br>
The research project was broken out into a few key phases:
<ul class="case-study-list">
  <li>In-app user surveys</li>
  <li>Document internal tribal knowledge.</li>
  <li>On-site user interviews and ethnographies</li>
  <li>Remote user interviews</li>
  <li>UX data distillation</li>
  <li>Affinity mapping of distilled data</li>
</ul>

{% endblock the-approach %}

  {% block work-images %}

    <figure>
      <img class="spread" src="{% static 'images/placeholder.png' %}" />
    </figure>

    <figure>
      <img class="double left" src="{% static 'images/placeholder.png' %}" />
      <img class="double right" src="{% static 'images/placeholder.png' %}" />
    </figure>

    <figure>
      <img class="double left" src="{% static 'images/placeholder.png' %}" />
      <img class="double right" src="{% static 'images/placeholder.png' %}" />
    </figure>

  {% endblock work-images %}

{% block additional-content %}

<section class="full-width">
  <div class="wrapper">
    <div class="copy-block">
      <h3>On-site customer interviews</h3>
      <p class="body-copy">With a solid understanding of our user's needs and the company's buisness goals, we were then ready to begin brainstorming solutions for improving the overall product.
      </br>
      </br>
      I took the principles from GV's Design Sprint methodology and condesnsed those down to create what I dubbed a "Rapid Design Sprint". The idea is to focus on the rapid ideation and cross-team sharing/unpacking that happens in a traditional Design Sprint but condensed to a single two hour session.
      </br>
      </br>
      We held multiple Rapid Design Sprints over the course of two weeks. Each session focused on either a unique user or business problem. In order to have both the user-voice and business goals represented, we invited people from across all departments of the company these included; customer service, engineering, operations, marketing, product, sales, and the leadership team.
      </br>
      </br>
      We then begain to wireframe and map out the IA for our new vision based on both the UX team's initial ideas as well as the ideas generated from the Rapid Deisgn Sprints.
      </p>
    </div>

    <figure>
      <img class="spread" src="{% static 'images/placeholder.png' %}" />
    </figure>

    <figure>
      <img class="double left" src="{% static 'images/placeholder.png' %}" />
      <img class="double right" src="{% static 'images/placeholder.png' %}" />
    </figure>

    <figure>
      <img class="double left" src="{% static 'images/placeholder.png' %}" />
      <img class="double right" src="{% static 'images/placeholder.png' %}" />
    </figure>

  </div><!--End wrapper-->
</section>

<section class="full-width grey">
  <div class="wrapper">
    <div class="copy-block">
      <h3>Affinity mapping &amp; organizing data</h3>
      <p class="body-copy">To validate the new IA patterns we put these ideas in front of actual users. In ordrer to remain agile and move quickly, we chose to validate ideas while simultaneously iterating on a new visual design brand feel.
      </br>
      </br>
      We ended up with two primary prototypes that explored hypothesis for both interaction and visual design. Our test consisted of 10 real users of our platform in an A/B/C counter-balanced format, with C being a control of the current platform UX.
      </br>
      </br>
      For each user test we recorded qualitative feedback relating to overall impressions, easy of use and general preferences. We also measured qualitative metrics based on success/failure of specific user tasks and mapped these to produce 95% confidence intervals for primary user tasks.
      </p>
    </div>

    <figure>
      <img class="double left" src="{% static 'images/placeholder.png' %}" />
      <img class="double right" src="{% static 'images/placeholder.png' %}" />
    </figure>

    <figure>
      <img class="spread" src="{% static 'images/placeholder.png' %}" />
    </figure>

    <figure>
      <img class="double left" src="{% static 'images/placeholder.png' %}" />
      <img class="double right" src="{% static 'images/placeholder.png' %}" />
    </figure>

  </div><!--End wrapper-->
</section>

{% endblock additional-content %}

{% block the-solution %}
Our end result was a brand that was unique and embodied the energy of high school sports combined with a user experience that made it easy for users to customize their experience by easily being able to find, follow and watch their faviorite teams.
{% endblock the-solution %}

{% block final-image %}
<img class="spread" src="{% static 'images/placeholder.png' %}" />
{% endblock final-image %}

{% block next-project %}
<a href="/nfhs" class="next-project"><strong>< Previous Case Study:</strong> The NFHS Network</a>
{% endblock next-project%}
