{% extends "base_CASESTUDY.html" %}

{% block title %}NFHS Network{% endblock title %}

{% block intro %}The NFHS Network{% endblock intro %}

{% block blurb %}Live Streaming of High School Sports From Across The Country{% endblock blurb %}

{% block overview %}
<a class="cs-link" href="http://www.nfhsnetwork.com/" target="_blank">The NFHS Network</a> is a digital sports network focusing exclusivley on high school sports from across the country. The network provides a consumer front-end, enterprise back-end and a custom on-air graphics suite. It is a joint venture between PlayOn! Sports, the National Federation of State High School Associations (NFHS), and its member state associations. The network features over 27 different sports and with exclusive rights to state playoff and championship events for 34 of its member states.
{% endblock overview %}

{% block myrole %}As Creative Director I was responsible for all aspects of design &amp; UX for the brand. For this project I lead the UX, IA, visual design and project managed the implementation by an outside agency.{% endblock myrole %}

  {% block hero-image %}
  <img class="spread" src="{% static 'images/nfhs/nfhs-header.png' %}" />
  {% endblock hero-image %}

{% block the-challenge %}
Originally spun out of Turner Sports in 2008 and branded as "PlayOnSports.com", the brand was in desperate need of an overall UX and UI update. In 2013 the NFHS Network was formed and with it the need for creating a destination experince and product. The goals for the redesign were:
<ul class="case-study-list">
  <li>Create a brand that channels the excitment and passion of high school sports.</li>
  <li>Focus on mobile. We had to make sure our streaming content was accessible via mobile devices.</li>
  <li>Customization. Allowing users to customize their experience was key to creating a destination brand.</li>
  <li>Bring high school sports into the big leagues.</li>
</ul>
{% endblock the-challenge %}

{% block the-approach %}
Considering the scale of this redesign we broke the project down into three key areas, focusing on key solving each milestone before moving on to the next. The three key areas were:
<ul class="case-study-list">
  <li>The user experience. How are we going to improve the UX for our users?</li>
  <li>The brand. What do we want the new brand to be?</li>
  <li>The platform. What technology stack makes the most sense for our needs?</li>
</ul>
{% endblock the-approach %}

  {% block work-images %}

    <figure>
      <img class="spread" src="{% static 'images/nfhs/nfhs-sketches1.png' %}" />
    </figure>

  {% endblock work-images %}

{% block additional-content %}

    <section class="full-width">
      <div class="wrapper">
        <div class="copy-block">
          <h3>The User Experience</h3>
          <p class="body-copy">A key tenant of the redesign would be the introduction of a pay model. This was something new to our current userbase so we began by first understanding our current brand positioning and users. Through a full competative analysis and brand perception study we were able to identify our key user personas and brand ambassadors. The most surprising finding was that although high school aged users were an internal target audience, these high school students didn't find value in a subscription service and were therefore not one of our primary personas.
          </br>
          </br>
          We created persona cards to remind us of who were were designing for. We also looked to both professional sports websites/apps and video streaming services as inspiration.
          </br>
          </br>
          With our user personas identified we began the ideation process of creating a new streaming platform, starting first with sketches and then moving to wireframes.
          </p>
        </div>

        <figure>
          <img class="spread" src="{% static 'images/nfhs/nfhs-personas.png' %}" />
        </figure>

        <figure>
          <img class="double left" src="{% static 'images/nfhs/nfhs-sketches3.png' %}" />
          <img class="double right" src="{% static 'images/nfhs/nfhs-sketches2.png' %}" />
        </figure>

      </div><!--End wrapper-->
    </section>

    <section class="full-width grey">
      <div class="wrapper">
        <div class="copy-block">
          <h3>The Brand &amp; Visual Design</h3>
          <p class="body-copy">We found ourselves at an interesting cross roads of brand positioning. On one hand we wanted to convey the energy, drama, and excitement of high school sports. On the other hand our target user base was used to consuming streaming video via products like YouTube and Netflix. And the underlying thread throughout was that we had to make sure to make high school sports feel "professional".
          </br>
          </br>
          We explored various ideas by focusing on moodboards and looking at both sports products/sites and video streaming platforms for inspiration.
          </p>
        </div>

        <figure>
          <img class="spread" src="{% static 'images/nfhs/nfhs-moodboard.png' %}" />
        </figure>

        <figure>
          <img class="double left" src="{% static 'images/nfhs/nfhs-comp2.png' %}" />
          <img class="double right" src="{% static 'images/nfhs/nfhs-comp1.png' %}" />
        </figure>

      </div><!--End wrapper-->
    </section>

{% endblock additional-content %}

{% block the-solution %}
Our end result was a brand that was unique and embodied the energy of high school sports combined with a user experience that made it easy for users to customize their experience by easily being able to find, follow and watch their faviorite teams.
{% endblock the-solution %}

{% block final-image %}
<img class="spread" src="{% static 'images/nfhs/nfhs-final.png' %}" />
{% endblock final-image %}

{% block next-project %}
<a href="#" class="next-project"><strong>< Previous Case Study:</strong> ExpApp</a>
{% endblock next-project%}
